html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.menubar {
    background: lightgray;
    display: flex;
    padding: 30px;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.menubar a {
    text-decoration: none;
    color: black;
    font-family: 'Quicksand';
    justify-content: center;
    margin: 0 10px;
    transition: color 0.1s ease;
}

.menubar a:hover {
    color: gray;
}

h1 {
    font-family: 'Quicksand';
    text-decoration: none;
    font-size: 65px;
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Quicksand';
    font-size: 18px;
}

.about {
    margin: 50px;
}

.about h2, .contact h2 {
    text-align: center;
    font-family: 'Quicksand';
}
.boldedparagraph {
    font-weight: bold;
}

.contact {
    text-align: center;
}

.contactform {
    width: 50%;
    padding: 12px;
    margin: 10px;
    font-family: 'Quicksand';
    border: none;
    border-bottom: 2px solid #ff6815;
    outline: none;
    transition: border 0.2s ease, height 0.2s ease;
    resize: none;
    overflow-y: hidden;
    height: auto;
}

.contactform:focus {
    border: 4px solid #ff6815;
    border-radius: 10px;
}

.contactform:hover {
    border-bottom: 4px solid #ff6815;
}

.submitform {
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #ff6815;
    color: black;
    font-family: 'Quicksand';
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.submitform:hover {
    transform: scale(1.05);
}

.submitform:active {
    transform: scale(0.95);
    background-color: lightgray;
}

.formspreelink {
    text-decoration: none;
    color: black;
}

.formspreelink:hover {
    color: lightgray;
}

.formspreelink:active {
    color: gray;
}